.hero {
    width: 100%;
    top: 157px;
    height: 760px;
    background-image: url(/img/banners/banner_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.barra-banner {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    background-color: #5D6D68;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
    font-family: 'Questrial', sans-serif;
    z-index: 10
}

.conteudo-hero {
    color: #5D6D68;
    font-size: 2rem;
    text-align: center;
    position: relative;
    top: 8rem;
    right: 17rem;
    font-family: 'Questrial', sans-serif;
}

.cerebro-img {
    position: absolute;
    top: 4rem;
    right: 12rem;
    width: 500px;
    height: auto;
    aspect-ratio: 1 / 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
  }

  .cerebro-carrossel {
    position: absolute;
    top: 7rem;
    right: 25rem;
    width: 500px;
    height: auto;
    overflow: hidden;
  }
  
  .carrossel-track {
    display: flex;
    transition: transform 3s ease-in-out;
    width: max-content;
  }
  
  .carrossel-track img {
    width: 500px;
    height: auto;
    flex-shrink: 0;
    object-fit: contain;
  }

  .folhas {
    position: absolute;
    width: 150px; 
    pointer-events: none; 
    z-index: 5; 
    opacity: 0.5;
    filter: sepia(80%) brightness(1.0) hue-rotate(30deg) saturate(0.8);
  }

  .canto-esquerdo {
    top: 575px;
    left: 0;
  }
  .canto-direito {
    top: 575px;
    right: 0;
    transform: scaleX(-1); 
  }
  .meio-esquerdo {
    top: 300px;
    left: 0;
  }
  .meio-direito {
    top: 300px;
    right: 0;
    transform: scaleX(-1); 
  }

  .planta {
    position: absolute;
    width: 1200px; 
    height: auto;
    z-index: 2; 
    opacity: 1; 
    
  }

  .lado-esquerdo {
    top: -550px;
    right: 1150px;
  }
  .lado-direito {
    top: -185px;
    right: -450px;
    transform: scaleX(-1);
    transform: scaley(-1);
  }

  .foia {
    overflow: hidden;
  }

  .botao-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
  
  .consulta-botao {
    width: 300px;
    height: 100px;
    font-size: 2rem;
    color: #5D6D68;
    padding: 30px 10px;
  }
  